:root {
    --primary: #054457;
    --primary-light: #0c80a3;
    --success: #69B99D;
    --success-light: #C7E5DB;
}

.hero_section_homepage{
    width: 100%;
    height: 100vh;
    background: url('./assets/Hero section.png');
    background-size: cover;
    background-position: center;
}
.hero_section_main {
    height: 90vh;
    width: 50%;
}
.input-group input, .input-group button{
    height: 50px;
    border-radius: 25px;
}