* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #054457;
    --primary-rgb: 5, 68, 87;
    --secondary: #4ba586;
    --secondary-rgb: 75, 165, 134;
    --success: #69b99d;
    --info: #c7e5db;
    --warning: #b99d69;
    --light: #73788c;
    --danger: #b02a37;
    --altlight: #a6a6a6;
    --altdark: #001810;
}
/* #isHome {
    display: none;
} */

/* Layout styles ----------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
}
.layout_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-container {
    display: flex;
    flex: 1;
}
.mainPage_content {
    flex: 1;
}


/* Layout styles Ends ------------------------ */
/* Layout footer style ------------------------ */

.footer_services_list li {
    background: none;
}
.footer_services_list li a {
    font-size: 0.8rem;
}

.socialMedia_footer a {
    color: var(--altlight);
    margin: 0.4rem;
    background-color: var(--success);
    padding: 0.3rem;
    border-radius: 1em;
}

.socialMedia_footer a:hover {
    color: var(--success);
    background-color: var(--altlight);
}
/* Layout footer style Ends ------------------------ */

/* style for home page ------------------- */
/* hero section */
.hero_section_homepage {
    width: 100%;
    height: 100vh;
    background: url("./assets/Hero section.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
@media (max-width: 768px) {
    .hero_section_homepage {
        width: 100%;
        height: 100vh;
        background-image: url("./assets/heroSection/1080x1080.jpg");
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 576px) {
    .hero_section_homepage {
        width: 100%;
        height: 100vh;
        background-image: url("./assets/heroSection/1080x1920-.jpg");
        background-size: cover;
        background-position: center;
    }
}

.hero_section_main {
    position: absolute;
    width: 80%;
    top: 38%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .hero_section_main {
        width: 50%;
    }
}

.input_btn_header_group {
    width: 100%;
}

.input_btn_header_group input,
.search_link_header_btn {
    min-height: 50px;
    border-radius: 25px;
    padding: 0.8rem;
}
.search_link_header_btn {
    width: 5em;
}
/* latest listings section styles ---------------------------- */
.seeMore_link:hover {
    text-decoration: underline;
}

.listings_slider::-webkit-scrollbar {
    height: 8px;
}
.listings_slider::-webkit-scrollbar-track {
    background: var(--info);
    border-radius: 10px;
    margin-top: 10px;
}
.listings_slider::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 10px;
}
.listings_slider::-webkit-scrollbar-thumb:hover {
    background: var(--success);
}
.snaps_inline {
    scroll-snap-type: inline mandatory;
}
.snaps_inline > * {
    scroll-snap-align: start;
}
.property_list_item {
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.property_list_item:hover {
    transform: scale(1.02);
}

/* latest listings section styles ends ---------------------------- */

/* Advantages list section */

.listItem_text_advantages {
    text-align: justify;
    color: var(--light);
}

/* Popular cities section */
.popularcities_container {
    background-image: url("./assets/popularC_section/popularC_bg.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.popularC_container {
    position: relative;
}
.listItem_city {
    background: none;
}
.city_link:hover {
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.15s;
}
.searchC_icon {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 50px;
    rotate: -20deg;
    background-image: url("./assets/popularC_section/searchC_icon.png");
    background-position: center;
    background-size: cover;
}
@media (max-width: 992px) {
    .searchC_icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media (max-width: 768px) {
    .listItem_city {
        text-indent: 20%;
    }
}

/* Top lessors section style --------------------------------- */
.topratedlessors_container {
    background-image: url("./assets/topL_section/topL_bg.png");
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.topL_list li {
    background: none;
    width: 50%;
}
.lessor_image_container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}
.lessorname_link:hover {
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.15s;
}
.topL_container {
    position: relative;
}
.searchL_icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    rotate: -20deg;
    background-image: url("./assets/topL_section/searchL_icon.png");
    background-position: center;
    background-size: cover;
}
@media (max-width: 992px) {
    .searchL_icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* Top lessors section style ends --------------------------------- */

.ourvalu_img_container {
    width: 100%;
    height: 100%;
}
.ourvalu_img_container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* home page style Ends------------------------ */

/* styles for the property component */

.property_component .carousel_section {
    background-color: #aaaaaa;
    height: 170px;
    width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}
.property_component .carousel-inner {
    width: 100%;
    height: 100%;
}
.like_btn {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9;
}
.like_btn:hover {
    background-color: var(--info);
}
.property_component .carousel-item {
    width: 100%;
    height: 100%;
}
.property_component .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem 0.3rem 0 0;
}
.property_component .custom_carousel_control {
    width: 25px;
    height: 60px;
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.property_component .carousel-control-prev.custom_carousel_control {
    left: 0;
    border-radius: 0 50% 50% 0;
}

.property_component .carousel-control-next.custom_carousel_control {
    right: 0;
    border-radius: 50% 0 0 50%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.call_now_btn {
    width: 100%;
}
/* property component style Ends ------------------------------ */

/* properties list page style */
@media (max-width: 576px) {
    .properties_list_section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .property_container {
        max-width: 314px;
    }
}
.total_sortProperties_bar {
    padding: 0.3rem;
}
.sort_select {
    width: 8rem;
}
.custom_form_control,
.custom_form_select {
    height: calc(2.5rem + 2px);
    padding: 0.375rem 0.75rem;
}
/* properties list page style Ends --------------------------------- */

/* property details page styles ------------------------------------ */
.row .slide_btn {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    transform: translateY(-50%);
}
.slide_btn:hover {
    background: var(--primary);
}
.slide_btn#prev-slide {
    left: 25px;
}
.slide_btn#next-slide {
    right: 25px;
}
.property_d_carousel_container div {
    overflow-x: auto;
}
.property_d_carousel_container div::-webkit-scrollbar {
    display: none;
}
.property_d_carousel_item {
    border: 1px solid rgba(var(--secondary-rgb), 0.4);
    border-radius: 5px;
}
.property_d_carousel_item img {
    border-radius: 5px;
    object-fit: cover;
}
.overview_navbar {
    z-index: -1;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(var(--primary-rgb), 0.15);
}
.property_d_overview_container {
    width: 100%;
}
.price_deposit_space div div:hover {
    background-color: #eeeeee;
}
.property_d_lessorInfo {
}
.property_d_lessorImg_container {
    height: 100%;
}
.property_d_lessorImg_container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.text_area_container {
    position: relative;
}
.text_area_container textarea {
    width: 100%;
    height: 80px;
    padding-right: 100px;
}
.add_comment_btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 20px;
    z-index: 1;
}
.property_d_like_btn {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid rgb(190, 190, 190);
}
.property_d_share_btn {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid rgb(190, 190, 190);
}
.property_d_like_btn:hover {
    background-color: var(--info);
    color: var(--primary);
}
.property_d_share_btn:hover {
    background-color: var(--info);
    color: var(--primary);
}
._phone_likebtn {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    background: var(--success);
}
._phone_sharebtn {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    background: var(--success);
}

@media (min-width: 768px) {
    .property_d_callCard {
        width: 270px;
        position: absolute;
        top: 270px;
        right: 90px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        z-index: 9;
    }
    .property_d_callCard.sticky {
        position: fixed;
        top: 0;
        right: 90px;
    }
    .property_d_overview_container {
        padding-right: 300px;
    }
    .like_share_phone_container {
        display: none !important;
    }
    .property_d_phone_callCard {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .property_d_overview_container {
        padding-right: 340px;
        padding-left: 100px;
    }
}
@media (min-width: 768px) {
    .property_d_overview_container {
        padding-right: 340px;
        padding-left: 30px;
    }
}
@media (min-width: 1200px) {
    .property_d_carousel_container {
        position: relative;
        height: 360px;
    }
}
@media (max-width: 1200px) {
    .property_d_carousel_container {
        position: relative;
        height: 310px;
    }
}
@media (max-width: 992px) {
    .property_d_carousel_container {
        position: relative;
        height: 310px;
    }
}
@media (max-width: 768px) {
    .property_d_callCard {
        display: none;
    }
    .property_d_carousel_container {
        position: relative;
        height: 310px;
    }
}
@media (max-width: 576px) {
    .property_d_carousel_container {
        position: relative;
        height: 280px;
    }
    .slide_btn {
        display: none !important;
    }
    .image_list::-webkit-scrollbar {
        display: block !important;
    }
    .image_list::-webkit-scrollbar {
        height: 4px;
    }
    .image_list::-webkit-scrollbar-track {
        background: var(--info);
        border-radius: 10px;
        margin-top: 10px;
    }
    .image_list::-webkit-scrollbar-thumb {
        background: var(--secondary);
        border-radius: 10px;
    }
    .image_list::-webkit-scrollbar-thumb:hover {
        background: var(--success);
    }
}

.images_list_item_container {
}
.prop_gen_infos {
    width: 100%;
    height: 50vh;
    background-image: url("./assets/bg-propDetails.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.carousel_propDetail {
    width: 100%;
    height: 25vh;
    margin-top: 2rem;
    background-color: #adffe477;
}

/* property details page styles Ends -------------------------------- */

/* Lessor pages style -------------------------------------------------- */

/* side bar styles */
.lessor_side_bar {
    width: 200px;
    transition: width 0.3s;
    background-color: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    align-self: flex-end;
}
.lessor_side_bar.collapsed {
    width: 80px;
}
.lessor_infos {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.lessor_side_img_container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.lessor_side_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.lessor_name_sideBar {
    margin-left: 1rem;
    font-weight: bold;
    color: #007bff;
}
.sidBar_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}
.nav-item {
    margin: 1rem 0;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

.nav-link span {
    margin-left: 0.5rem;
}

/* manage listings page styles */
.add_listing_btn_manage {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 8rem;
}
/* property_manage component styles */

.img_container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.property_actions button {
    font-size: 1rem;
    padding: 0.6em;
    width: 10rem;
}

/* My account page styles */
.save_changes_btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 6rem;
}

.lessor_img_container {
    width: 5rem;
    height: 5rem;
}
.lessor_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 1.5rem;
}
.lessor_firstName,
.lessor_lastName {
    width: 50%;
    display: inline-block;
}

.lessor_phone1,
.lessor_phone2 {
    width: 50%;
    display: inline-block;
}
.new_password,
.confirm_password {
    width: 50%;
    display: inline-block;
}

/* add listing page */
.add_listing_btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 8rem;
}

.listing_form input,
.listing_form select,
.description_inp {
    margin-top: 0.2rem;
}
.month_daily_inp {
    width: 100%;
    display: block;
}
.housing_category_inp {
    width: 100%;
}
.address_inp {
    width: 100%;
}
.num_of_rooms,
.num_of_baths {
    width: 50%;
    display: inline-block;
}

.description_inp {
    width: 100%;
}
.phone_inp {
    width: 100%;
}
.photos_inp_container,
.videos_inp_container {
    width: 50%;
    display: inline-block;
}
.when_ready_inp {
    width: 100%;
}
.additional_features_area div {
    width: 25%;
}

/* Lessor pages style Ends -------------------------------------------------- */

/* login and signup pages styles --------------------------------- */

.login_signup_page_container {
    height: 100vh;
}
.login_signup_page_content {
    height: 100%;
    overflow-y: auto;
}
.signupBG_container,
.loginBG_container {
    height: 100%;
}
.signup_form_container,
.login_form_container {
    height: 100%;
}
@media (max-width: 767px) {
    .signupBG_container,
    .loginBG_container {
        height: 50%;
    }
    .signup_form_container,
    .login_form_container {
        height: 100%;
    }
    /* .last_name_S_container, .first_name_S_container {
        margin: 0;
    } */
}
.loginBG_signup {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login_quote,
.signup_quote {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: justify;
    color: var(--primary);
}
.login_divider,
.signup_divider {
    width: 100%;
    border-bottom: 1px solid rgba(var(--primary-rgb), 0.8);
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.login_divider span,
.signup_divider span {
    background: #fff;
    padding: 0 10px;
}
.form_login_page,
.form_signup_page {
    width: 100%;
}

/* login and signup pages styles ends ----------------------------- */

/* categories page style --------------------------------- */
.titleShape_container {
    display: flex;
    margin: 0;
    position: relative;
    height: 50px ;
}
.title_container {
    border-radius: 0px 8px 8px 0;
}
.title_container span {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
.shape_icon {
    color: var(--success);
    fill: currentColor;
    height: 100%;
}
.categories_list_group_item {
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.categories_list_group_item:hover {
    transform: scale(1.05);
}
.categories_list_group_item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
.name_description_container p {
    text-align: justify;
}
@media (max-width: 576px) {
    .categories_list_group {
        padding: 3rem;
    }
    .categories_list_group_item img {
        height: 280px;
    }
}

/* categories page style ends --------------------------------- */

/* contact page styles --------------------------------------- */
.contact_title {
    font-size: 4rem;
}
.contactpage_social_media a {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--success);
    border-radius: 50%;
    margin: 0.5rem;
}
/* .contactpage_social_media div i {
    position: absolute;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
} */
@media (max-width: 576px) {
    .contact_page_content {
        height: calc(100vh - 60px);
        width: 100%;
        background-image: url('./assets/contactPage/herosectionXSM-BG-.jpg');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .image_container {
        width: 100%;
        height: 100%;
       background-image: url('./assets/contactPage/herosectionXSM-main-.png');
       background-size: contain;
       background-repeat: no-repeat;
    }
    
}
@media (min-width: 576px) {
    .contact_page_content {
        height: calc(80vh);
        width: 100%;
        background-image: url('./assets/contactPage/herosectionSM.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}
@media (min-width: 768px) {
    .contact_page_content {
        height: calc(100vh - 62px);
        width: 100%;
        background-image: url('./assets/contactPage/herosectionMD.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}
@media (min-width: 992px) {
    .contact_page_content {
        height: calc(100vh - 62px);
        width: 100%;
        background-image: url('./assets/contactPage/herosectionMD.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1400px) {
    .contact_page_content {
        height: calc(100vh - 62px);
        width: 100%;
        background-image: url('./assets/contactPage/herosectionXL.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}
 

/* contact page styles --------------------------------------- */