* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #054457;
    --secondary: #4ba586;
    --success: #69b99d;
    --info: #c7e5db;
    --warning: #b99d69;
    --light: #73788c;
    --danger: #b02a37;
    --altlight: #a6a6a6;
    --altdark: #001810;
}
/* #isHome {
    display: none;
} */

/* Layout header style ------------------------ */
/* .header {
    position: sticky;
    top: 0;
    width: 100%;
} */

/* Layout header style Ends ------------------------ */
/* Layout main content style */
.mainPage_content {
    min-height: 100vh;
}
/* Layout footer style ------------------------ */
.footer {
    position: static;
    bottom: 0;
    width: 100%;
}
.footer_services_list li {
    background: none;
}
.footer_services_list li a {
    font-size: 0.8rem;
}

.socialMedia_footer a {
    color: var(--altlight);
    margin: 0.4rem;
    background-color: var(--success);
    padding: 0.3rem;
    border-radius: 1em;
}

.socialMedia_footer a:hover {
    color: var(--success);
    background-color: var(--altlight);
}
/* Layout footer style Ends ------------------------ */

/* style for home page ------------------- */
/* hero section */
.hero_section_homepage {
    width: 100%;
    height: 100vh;
    background: url("./assets/Hero section.png");
    background-size: cover;
    background-position: center;
}
.hero_section_main {
    height: 80vh;
    width: 50%;
}
.input_btn_header_group {
    width: 100%;
}

.input_btn_header_group input,
.search_link_header_btn {
    min-height: 50px;
    border-radius: 25px;
    padding: 0.8rem;
}
.search_link_header_btn {
    width: 5em;
}
/* latest listings section */
.seeMore_link:hover {
    text-decoration: underline;
}

/* Advantages list section */
.advantages_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bi-shield-fill-check {
    color: var(--secondary);
}

.advantages_list li {
    width: 30%;
    text-align: justify;
    border: 0;
    background: none;
}
.advantages_list li h6 {
    color: var(--primary);
}
.advantages_list li p {
    color: var(--light);
}

/* Popular cities section */
.popular_cities_section {
    /* margin-top: 7rem; */
}
.popularCitiesSec_img {
    /* width: 50%;
    float: left;
    margin-right: 2rem; */
}
.popularCitiesSec_list {
    /* padding: 1rem;
    float: right; */
}

/* Top lessors section */
.topLessors_list li {
    background: none;
}
.topLessors_list li {
    width: 50%;
}
.lessor_image_container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.valueimg_container {
    width: 100%;
    height: 100%;
    position: relative;
}
.valueimg_container img {
    width: 70%;
    height: auto;
    object-fit: cover;
    float: right;
}

/* home page style Ends------------------------ */

/* styles for the property component */
.property_component {
    width: 300px;
    height: 400px;
}
.carousel {
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 0.3rem 0.3rem 0 0;
    
}
.carousel-inner {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}
.carousel-item {
    width: 100%;
    height: 100%;
    border-radius:  0.3rem 0.3rem 0 0;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:  0.3rem 0.3rem 0 0;
}

.property_infos {
    width: 100%;
}
.num_of_rooms, .num_of_baths {

}
.call_now_btn {
    width: 100%;
}
/* property component style Ends ------------------------------ */

/* properties list page style */
.total_sortProperties_bar {
    padding: 0.3rem;
}
.sort_select {
    width: 8rem;
}

/* properties list page style Ends --------------------------------- */

/* property details page styles ------------------------------------ */
.prop_gen_infos {
    width: 100%;
    height: 50vh;
    background-image: url("./assets/bg-propDetails.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.carousel_propDetail {
    width: 100%;
    height: 25vh;
    margin-top: 2rem;
    background-color: #adffe477;
}


/* property details page styles Ends -------------------------------- */

/* Lessor pages style -------------------------------------------------- */

/* side bar styles */
.lessor_side_bar {
    width: 25%;
    border-right: 1px solid rgb(227, 227, 227);
}
.lessor_infos {
    margin: 3rem auto 0;
}
.lessor_side_img_container {
    width: 50px;
    height: 50px;
}
.lessor_side_img_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 25px;
}

.sidBar_nav {
    margin-top: 1rem;
}

/* manage listings page styles */
.add_listing_btn_manage {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 8rem;
}
    /* property_manage component styles */

.img_container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.property_actions button {
    font-size: 1rem;
    padding: 0.6em;
    width: 10rem;
}

/* My account page styles */
.save_changes_btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 6rem;
}

.lessor_img_container {
    width: 5rem;
    height: 5rem;
}
.lessor_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 1.5rem;
}
.lessor_firstName,
.lessor_lastName {
    width: 50%;
    display: inline-block;
}

.lessor_phone1,
.lessor_phone2 {
    width: 50%;
    display: inline-block;
}
.new_password,
.confirm_password {
    width: 50%;
    display: inline-block;
}

/* add listing page */
.add_listing_btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    width: 8rem;
}

.listing_form input,
.listing_form select,
.description_inp {
    margin-top: 0.2rem;
}
.month_daily_inp {
    width: 100%;
    display: block;
}
.housing_category_inp {
    width: 100%;
}
.address_inp {
    width: 100%;
}
.num_of_rooms, .num_of_baths {
    width: 50%;
    display: inline-block;
}

.description_inp {
    width: 100%;
}
.phone_inp {
    width: 100%;
}
.photos_inp_container, .videos_inp_container {
    width: 50%;
    display: inline-block;
}
.when_ready_inp {
    width: 100%;
}
.additional_features_area div {
    width: 25%;
}

/* Lessor pages style Ends -------------------------------------------------- */
